[2018-08-22 16:01] DavidDeSloovere opened #1 "Only supports the Envoy S, not original Envoy"
Hello @jesserizzo
I was happy when I saw this new component in Home Assistant, until I figured out that my Envoy (original, not the S) does not have the json endpoint.
It only has HTML, but does include the 4 production values at "/production?locale=en"

![image](https://user-images.githubusercontent.com/352626/44475041-56d35200-a634-11e8-8e71-1be2106dbeca.png)

Do you think it would be possible t

[2018-08-24 07:41] DavidDeSloovere commented on #1
Consumption is definitely not available. This envoy can only measure production.

This is awesome... http://envoy/api/v1/production does spit out **JSON**!

[code]

And http://envoy/api/v1/consumption returns a 404 with this body
{
  "status": 404,
  "error": "",
  "info": "Resource /api/v1/consumption not found",
  "moreInfo": ""
}

Regarding the update interval: both /api/v1 json data and /produ

[2018-08-24 19:00] akwan commented on #1
@DavidDeSloovere does this show anything?

http://envoy/backbone/application.js

https://thecomputerperson.wordpress.com/2016/08/03/enphase-envoy-s-data-scraping/ has a lot of interesting references - wondering what else may be available.

Might be possible to impart some logic that can detect the version of the envoy and only allow features supported per said envoy.

[2018-08-24 22:05] jesserizzo commented on #1
@akwan

That site is specifically about the Envoy S, so it probably won't help in this case.

Also, I had no idea you could just go to http://envoy
How does that even work? Is this reliable enough that I could not require the users to put in their IP address?

[2018-08-24 22:17] jesserizzo commented on #1
@DavidDeSloovere

Try the newest commit.

[2018-08-25 00:00] akwan commented on #1
@jesserizzo Wasn't sure what the original envoy had and hadn't seen documentation for it so wasn't sure what it would've had.

I wouldn't recommend relying on a hostname sussed from multicast DNS. IP or user designated hostname is still the way to go. I keep my Envoy S IQ in a network separate from where I access it from, so I personally don't use http://envoy or http://envoy.local. I was just usi

[2018-08-25 06:04] DavidDeSloovere commented on #1
I was using http://envoy also as a placeholder, funny that it actually works.

Fix the redirect check in the PR #2 - you might want to check if it still works for your envoy S
auto redirect was on by default, so you get a 200 after a second internal request to the error page
it's first actual python I wrote, would have tried to optimize like I wrote in the PR, but maybe you want to do that yoursel

[2018-08-25 12:34] jesserizzo commented on #1
@DavidDeSloovere

Looks good, thanks.

Does waiting on the 301 error take too long? Otherwise I would probably leave it as is.

[2018-08-25 13:15] DavidDeSloovere commented on #1
Not that it's taking too long (not that I noticed), just not necessary. Might even optimize further for the *consumption* stat, by not even making the call in case of the original envoy. If I feel like writing some more python, I'll see what I can do later in another PR later.

[2018-08-25 21:05] jesserizzo commented on #1
@DavidDeSloovere
Ok, can you try the newest commit. Thanks for your help.

@akwan
Thanks for the info. Does your Envoy IQ support the [/production.json](url) endpoint?

[2018-08-25 23:40] akwan commented on #1
Yep, including /home.json and /inventory.json.

Before this integration I was using this from @fredsmith

https://git.smith.bz/derf/homeautomation/blob/master/sensors/solar.yaml

[2018-08-26 19:48] #1 closed

[2018-08-27 21:13] jesserizzo commented on #1
@DavidDeSloovere
I already have a pull request in for home assistant. I'm not sure what you mean by that second part, so definitely make whatever changes you're thinking of.

[2019-04-06 01:35] gtdiehl opened #5 "Add support for gathering individual inverter production"
I have an original Envoy and have been gathering inverter data from:
`http://<ip>/api/v1/production/inverters`

Unfortunately this page requires authentication, I use HTTPDigestAuth to gather the inverter data
`requests.get(ENPHASE_URL_INVERTERS, auth=HTTPDigestAuth(ENPHASE_USERNAME, ENPHASE_PASSWORD))`

The envoy returns data formatted as such (I changed my serial #'s):
`[{'serialNumber': '000000

[2019-05-28 00:52] dalklein commented on #5
Folks might be interested, I'm sure someone would use it.  Especially if they are not using per panel monitoring from Enlighten, and / or want a completely local only solution.   But the Enlighten per panel monitoring is available and works nice.   In my case (older Envoy, with software before the .json api data was added), I can't get the per panel data directly from the Envoy anyway.

[2019-06-10 11:45] jesserizzo commented on #5
Just added this, and put in a PR for Home Assistant

[2019-06-10 11:45] #5 closed

[2019-06-19 03:22] gtdiehl opened #6 "Which version of requests-async should be used?"
I have tried to run the latest envoy_reader.py with the new async stuff and am unable to run it.

This is the error I am having:

`Enter the Envoy IP address or host name, or press enter to use 'envoy' as default: 10.0.40.209
Reading...
Traceback (most recent call last):
  File "envoy_reader.py", line 261, in <module>
    TESTREADER.run_in_console()
  File "envoy_reader.py", line 241, in run_in_co

[2019-06-19 05:50] gtdiehl commented on #6
I see what the issue is, there is no await for the requests.get(...) on Line 36.  I'll open a PR.

[2019-06-19 05:50] #6 closed

[2019-06-20 20:51] dalklein opened #8 "Support for older s/w Envoy C, before s/w R3.9 (no .json page on Envoy)"
Hello,  thanks for your work making the Envoy work with homeassistant.

Some older Envoys (mine....)  with software before R3.9, do not have the .json data available, only .html pages, http://envoy/production is the main one.

Based on a month ago old version of envoy_reader, I added support to scrape html page from older Envoy, which does not have the .json based pages available. Working correctl

[2019-06-21 03:01] dalklein commented on #8
I believe I have it working as far as I can get it now,  using the previous requests calls,  not the requests_asysc with await.    please see files here,  https://github.com/dalklein/envoy_reader/       and change the requests stuff (not very many places to change),   or please let me know how I need to set up requests_async.        Thanks

[2019-07-05 16:22] jesserizzo commented on #8
@dalklein Can this issue be closed? I believe you figured it out for that PR I merged a few weeks ago, right?

[2019-07-05 18:06] dalklein commented on #8
Yes thanks, go ahead and close it.  It is working in my install now.  Looks like you got the changes included in the pr, thanks!

[2019-07-05 18:06] #8 closed

[2019-07-18 07:01] DavidDeSloovere opened #10 ""Error while setting up platform enphase_envoy" in HA 0.96.0"
Hi Jesse,
Cross posting this because you're probably not monitoring the home assistant repo.
https://github.com/home-assistant/home-assistant/issues/25224
Thank you for your time.

[2019-07-18 14:15] dalklein commented on #10
I left a comment there, hope that helps.  I had the same error using the later envoy code, because I didn't have requests_async installed in the ha venv yet.

[2019-07-18 23:02] gtdiehl commented on #10
I think that the issue should be re-opened in the Home Assistant repository.  Manually installing `requests-async` is a workaround but the underlying problem should really be fixed, which is to add the module to the `manifest.json` file

[2019-07-21 14:32] DavidDeSloovere commented on #10
https://github.com/home-assistant/home-assistant/issues/25331 home assistant issue now

[2019-07-21 14:32] #10 closed

[2019-08-16 14:48] exxamalte opened #12 "Improve library and HA integration to reduce number of HTTP calls to Envoy device"
I am using the envoy integration in Home Assistant for some time now and have an Envoy-S at home supporting production and consumption data, as well as 16 Inverters connected.

I have analysed the HTTP traffic between HA and the Envoy-S over a ~15 minute period. In that timeframe I saw:
* 462 calls to /production.json
* 432 calls to /info.xml
* 880 calls to /api/v1/production/inverters
That's abou

[2019-08-16 17:21] dalklein commented on #12
I agree, when making it work for my older Envoy-C, it seemed like it would be making many requests to the envoy, due to populating each individual value as it's own sensor.  Although they are all pulled from the same page.  It did work for my envoy, although mine does not offer pulling individual inverter data, so that is fewer requests to the envoy.

Additional thought:  The data on the Envoy doe

[2019-08-17 06:01] exxamalte commented on #12
My Envoy-S is updating its data every minute.

However, there may be an opportunity to reduce the update interval at night (say from ~1 hour after sunset until ~1 hour before sunrise), at least for inverters. The inverter data even says when it was last updated (`lastReportDate`).

[2019-09-03 19:05] Tim-GitHub opened #13 "Add support for gathering inverter status"
I am using a combination of the envoy_reader and my own Home Assistant value_json template to count the number of inverters based on status. It seems that adding that inverter status into the existing calls may be reasonable, as it is handy for monitoring how many inverters are online.

Here is how I am getting the inventory.json (no password needed):
[code]

That saves the JSON to my Home Assista

[2019-10-21 22:21] rct commented on #12
I just tried this on an Envoy-IQ, with HA 0.100.2 and the default where no monitored_conditions are specified.

While it seems to work, it overloads the Envoy with only 26 panels. My log has lots of exceptions for `ReadTimeout` and ` Updating enphase_envoy sensor took longer than the scheduled update interval 0:00:30`

I'd love to be able to monitor at the panel level if the overhead could be redu

[2019-10-23 20:20] rct commented on #12
Just started looking at this, first thing I noticed if I'm reading it correctly, is it looks like each attempt to get a value that HA uses like 'production', 'consumption', 'daily_consumption' calls `self.call_api`, which appears to fetch production.json even though it's probably already been fetched.

An easy fix without refactoring too much would be to just store the production parsed json objec

[2019-10-23 22:11] exxamalte commented on #12
I would not recommend to start "fixing" the issue this way because this approach may introduce other complications. As you state you only want to reuse data if it "was successfully fetched recently enough". You may introduce unwanted side-effects.

The main reason I haven't started refactoring this myself is the lack of unit tests, i.e. you won't know for sure if this library still works as expect

[2019-10-31 13:51] pompompom opened #14 "Envoy Software version D5.0.34 data error"
Hi,

I have an envoy that was working fine with HA until june. Now I have errors like this
`"Got a response from 'http://envoy/production.json', but metric could not be found. Maybe your model of Envoy doesn't support the requested metric."`

The command :
`curl 'http://envoy/production.json'`
Gives :
`{"production":[{"type":"inverters","activeCount":1,"readingTime":1572524639,"wNow":117,"whLifeti

[2019-10-31 21:15] rct commented on #14
A data point, my Envoy IQ (different/newer? model than the s) is running D5.0.34.  `/production.json` still gives me the two element production array that looks like what others have posted. Element index 0 contains the data from the inverters, Element index 1 has the data from the meters (CTs).

Did anything change w.r.t the metering setup of your envoy?

On my system,  `wattsNow` from `/api/vi/p

[2019-11-04 13:31] pompompom commented on #14
Hi,

I have read somewhere, that the cause may be that I don't have a metered "S" device. And thus the "eim" section containing the production data is not present.
The `/api/v1/production` works correctly.
Maybe if the content of the `production.json` api request doesn't contain the `eim` section we could rollback to the `api/v1/production` endpoint.

I didn't changed anything to my setup since th

[2019-11-13 16:11] rct opened #16 "Override envoy auto detection/specify fields to use manually."
There needs to be a way to override autodetection to specify which fields to use for the cases where the autodetection doesn't work correctly.

On Envoy's that have it, the auto detect will use `production[1].wNow`, which in many (most) cases is  measured using the Envoy's production CTs if it has them.  However, on some Envoy's that value either doesn't exist, or is incorrect.

`production[0].wNo

[2019-12-18 20:57] gtdiehl commented on #12
@exxamalte What tool did you use to monitor the HTTP traffic?  Was it just Wireshark?

[2019-12-18 21:46] exxamalte commented on #12
@gtdiehl: Yes, I used Wireshark to capture the traffic.

[2019-12-19 06:45] gtdiehl opened #19 "Add testing framework"
I am investigating a testing framework to do testing when changes are made to the envoy_reader module.

Currently I am writing tests using pytest.  Not having any experience with testing frameworks is pytest okay?  If so I can open a PR to merge in the tests I have created so far.

[2019-12-19 22:14] gtdiehl commented on #14
I've been writing some unit tests using pytest and ran into this issue.  It appears the current code for retrieving production information is grabbing details from the `eim` section (CT) of json.

I would propose changing
https://github.com/jesserizzo/envoy_reader/blob/a203d357ed520a23ff641670aa85d5a304355187/envoy_reader/envoy_reader.py#L119
to
`production = raw_json["production"][0]["wNow"]`

As

[2019-12-21 06:06] gtdiehl commented on #12
@exxamalte Thank you.

I have started to try and reduce the number of calls that are made from Home Assistant to the Enphase Envoy device.  I hacked together something that should reduce the number of calls drastically.  Basically I have a single `update()` in the `envoy_reader` library that runs through all of the various methods, similar to what the `run_in_console()` is doing.  Home Assistant w

[2019-12-21 15:03] jesserizzo commented on #19
I don't have any opinion regarding python testing frameworks, if that seems good then go for it.

[2019-12-21 15:06] jesserizzo commented on #12
This is something I've been wanting to tackle for a while now, but don't have the time. Everyone here rocks.

[2019-12-21 15:16] jesserizzo commented on #13
@Tim-GitHub  It already supports the production values from individual inverters based gathered from http://envoy/api/v1/production/inverters (username: 'envoy' password: last 6 digits of the serial number).  Does your suggestion add additional value to that?

[2019-12-21 15:17] dalklein commented on #12
Yes, nice job, thanks for sharing!

[2019-12-21 21:45] gtdiehl commented on #14
In the PR #20 @jesserizzo mentioned that the eim wNow will update sooner than the inverter wNow.

I'll try to make a change where if the retrieval of the eim wNow fails fallback to the inverter wNow.

[2019-12-23 16:42] gtdiehl commented on #12
Here is a quick comparison I did using my Envoy running R3.11.30 with the current HA sensor code and the one I'm working on.

From the graphs the current sensor is making ~60 HTTP calls every polling period (default 30 seconds).  Whereas with what I'm working on, the initial startup of HA server the calls are ~45, then every polling period after is reduced to ~10

More optimization can be done, bu

[2019-12-23 23:00] gtdiehl commented on #14
I've updated the production() in PR #20 in the envoy_reader library to retrieve wNow data from the inverters using `production = raw_json["production"][0]["wNow"]` if the eim wNow data from `production = raw_json["production"][1]["wNow"]` is not available

https://github.com/jesserizzo/envoy_reader/blob/fa986d10696cb74b76ee31cce45d1a4f1ec11445/envoy_reader/envoy_reader.py#L119-L122

[2019-12-25 16:10] #14 closed

[2019-12-29 22:28] gtdiehl commented on #12
Hi All!
Here are the changes to the envoy_reader library and the Home Assistant Envoy sensor
[envoy_reader](https://raw.githubusercontent.com/gtdiehl/envoy_reader/http-calls/envoy_reader/envoy_reader.py)
[HA Envoy Sensor](https://raw.githubusercontent.com/gtdiehl/home-assistant/envoy_messages/homeassistant/components/enphase_envoy/sensor.py)

I'm not going to make anymore to the envoy_reader libra

[2019-12-30 00:12] dennisdegreef commented on #19
If you want any help with this, I'd gladly help out. I'm not fluent with python perse, but I am with testing frameworks and methodologies from other languages.

[2019-12-30 23:55] gtdiehl commented on #19
@dennisdegreef Great!  I'll open a PR to merge in what I have created so far.

[2020-02-22 22:35] jesserizzo commented on #12
#22 Closed

[2020-03-05 01:13] gtdiehl opened #25 "Eagle-Reader v0.15.0 from PyPi is missing latest source"
@jesserizzo The v0.15.0 release from PyPi is missing the latest source, for example `update()`.

Can you rebuild the package and bump the version number to something like v0.15.1?

I commented on the PR #22 where my code was pulled from but since it's Closed I wasn't sure if you'd see the comment.

Thanks!

[2020-03-08 19:57] jesserizzo commented on #25
@gtdiehl Ok, I just made a new release 0.15.1.

[2020-03-10 05:31] gtdiehl commented on #25
@jesserizzo Great, thank you!  I've opened a PR in HA to use the latest API and my updated sensor https://github.com/home-assistant/core/pull/32637

[2020-03-10 05:32] #25 closed

[2020-04-26 14:14] jesserizzo commented on #13
@Tim-GitHub  I'm closing the issue, feel free to reopen and leave a comment clarifying if this would add additional information beyond the existing per inverter production that the sensor supports.

[2020-04-26 14:14] #13 closed

[2020-04-30 03:49] gtdiehl commented on #12
Well it looks like the approach I took was not accepted on the HA side.  I'll have to see about reorganizing the HA sensor code.

As well, it looks like HA 0.109 has introduced a `Detected I/O` message, and now it appears the inverter data gathering is now broken!

[2020-04-30 04:12] gtdiehl opened #28 "Change inverters_production request_sync call to async"
With HA 0.109, inverter data collection is broken in my setup with an older Envoy device.

HA is displaying a message of `WARNING (MainThread) [homeassistant.util.async_] Detected I/O inside the event loop. This is causing stability issues. Please report issue to the custom component author` for Line 156 of the sensor code which calls `inverters_production()` on the envoy_reader side.

Changing th

[2020-04-30 06:22] gtdiehl commented on #28
Investigating this I was unable to use the `requests_async` or the `aiohttp` libraries with Digest Authentication.  The one library I did find was `httpx`.

Changing
https://github.com/jesserizzo/envoy_reader/blob/ee176190ebe95d98d6414deecf6d710438270cf9/envoy_reader/envoy_reader.py#L359-L363
to
[code]
seems to address the issue were HA complains with the `Detected I/O ...` message, but now I am s

[2020-05-03 17:26] #28 closed

[2020-05-05 06:54] gtdiehl opened #30 "httpx module not loaded from Home Assistant"
I modified the `manifest.json` file for the Enphase Envoy sensor to point to the latest version of `envoy_reader`

[code]

But when I run Home Assistant, it seems that the `httpx` module is not downloaded.  I don't want to submit a PR against HA to bump the version if I can't get it loaded in my environment first.

Any ideas?

[code]

[2020-05-05 07:00] gtdiehl commented on #30
I see why, the `setup.py` file also has to be updated.  The `requirements.txt` was only updated.  I'll open another PR to update the `setup.py` file.

[2020-05-09 15:32] #30 closed

[2020-07-11 10:34] ajmawer commented on #12
@gtdiehl would you be up for collaboration to see if we can get round 2 of this attempted? I have 32 micro’s so it tends to struggle - just need to get a dev setup running for HA to start poking around this....

[2020-07-16 18:14] gtdiehl opened #34 "Increase default timeout from 5secs to 30secs for async inverter call"
The default timeout for the httpx library is 5 seconds.  I noticed after I updated HA to 0.112 that I was receiving timeouts during setup.  Increasing the timeout to 30 seconds seems to solve the timeout problem

Change:
https://github.com/jesserizzo/envoy_reader/blob/12206fbe2e9784497fa34a4d23184aec5e8c01ab/envoy_reader/envoy_reader.py#L360-L362

To:
[code]

[2020-07-17 00:27] gtdiehl commented on #12
@ajmawer yeah let's try to fix this!

[2020-07-20 00:36] dutchkiwi2 opened #36 "Add storage data"
If the Envoy is a PC type, it can support storage devices.
Can a check if storage data is available be included and storage details added.

Having data available on the charge / discharge (wNOW) and percentage full (percentFull) are very usefull in HomeAssist.

The production.json files includes the following data when storage is attached:

"storage": [
    {
      "type": "acb",
      "activeCoun

[2020-07-20 19:01] gtdiehl commented on #12
@ajmawer @jesserizzo I have started to work on this again!  I have pushed my initial HA sensor code to [Enphase Envoy HA Sensor](https://github.com/gtdiehl/core/blob/http_api_call/homeassistant/components/enphase_envoy/sensor.py).  Take a look and try it out.

Can this issue be re-opened or do I need to create a new one?

[2020-10-26 23:00] lnlp opened #37 "Envoy S Production data is not read / read incorrectly when current transformers are not enabled/installed [bug]"
### Problem

Envoy S Production data is not read when not using current transformers which renders reported Production data useless.

This is because envoy_reader assumes that when `envoy/production.json' exists that this is the location to read the Production data from. But that is an incorrect assumption  because it is only valid when current transformers (CT) are enabled/installed.

### Situati

[2020-10-31 23:20] #34 closed

[2020-11-01 03:16] gtdiehl opened #39 "Gather serial number"
Home Assistant can remove single entities but the sensor needs to implement a unique ID. This would be helpful when an inverter is removed from the physical system but still reports as part of the envoy inventory.

Since inverter gathering is all or nothing, the filtering would be done through Home Assistant.

One way to retrieve the serial number is through an authenticated page `/prov` just not

[2020-11-01 03:25] gtdiehl commented on #37
@lnlp Would it be possible for you to post a copy of your `/production. json`?

The code currently does a check to see if the attributes of production and consumption exist in the web page. I'm thinking maybe another check of the attribute `eim`. If these are zero than poll data from the other production page.

[2020-11-01 13:48] rct commented on #37
I would really like the option to select either or more importantly (to me) wNow from both the inverters and the eim production structures.  The inverters and the CTs don’t necessarily report the same values.  I would like to track both.

I don’t know how they should be named to allow referencing both of them in home assistant configuration, but I’d like to be able to include both and think there

[2020-11-01 20:45] gtdiehl commented on #37
I have read through everything yet but I want to point out that when polling uses the `/api/v1/production` page the envoy appears to only update it every 15mins.  Some may view this as a draw back.  Like I said I haven't looked through all of the comments yet.

[2020-11-01 21:43] rct commented on #37
@gtdiehl - I think the only cases where you'd want to use `/api/v1/production` are:

1. The envoy doesn't support `production.json`
2. The envoy is configured without CT metering and the user wants WH totals for today and 7 days which aren't available in `production.json`.

I don't have code changes that are worth submitting. I need to understand how the Home Assistant configuration interface inte

[2020-11-02 02:08] gtdiehl commented on #37
@rct Those are good points. 😃

I'll look through the code and see what it might take to implement. Or atleast get reporting working for all attributes for each hardware platform.

[2020-11-04 00:41] lnlp commented on #37
I will make a capture tomorrow when it's light and the system is actualually producing.

This is not my experience. I see information in `/api/v1/procuction` and `/api/v1/production/inverters` being updated every 5 minutes. Maybe this is Envoy-S Metered (Multiphase) and or firmware version dependent?

The `/api/v1/production/inverters` inverter data is already properly read and output by envoy_rea

[2020-11-04 00:49] lnlp commented on #37
No, not only those two values.
In Home Assistant 'Enphase Envoy' add-in (which uses envoy_reader) I do not get actual values for all 4 values shown in /api/v1/production.
Because envoy_reader appears to read them from /production.json where they are 0 / not updated.

[2020-11-04 04:41] gtdiehl commented on #37
I'm still looking over the code and the different paths taken and the different types of envoy devices with and without features.

Though I wonder if something like this would solve the problem

Add a function called `hasMeteringEnabled()` which will return `True` if `eim` `activeCount` is `>= 1` else `False`

Then change part of detect_model() from
https://github.com/jesserizzo/envoy_reader/blob/

[2020-11-04 04:49] gtdiehl commented on #36
@dutchkiwi2 are these storage devices the Encharge 3/10 storage systems?

[2020-11-04 05:10] dutchkiwi2 commented on #36
The example is from acb batteries, the predecessor of encharge

On Wed, 4 Nov 2020, 17:49 Greg, <notifications@github.com> wrote:

[2020-11-04 09:03] lnlp commented on #37
Here are captures of `/api/v1/production`, `/production.json` and `/api/v1/production/inverters`.
All were taken at the same time. Data coming from `/api/v1/*` is updated every 5 minutes.

`/api/v1/production`:

[code]

<br/>

`/production.json`:

[code]

<br/>

`/api/v1/production/inverters` _(serial numbers have been obfuscated)_:

[code]

[2020-11-04 09:14] lnlp commented on #37
That should probably do it.

Do you know what the "eim" stands for?
(my educated guess: electronic induction metering)

[2020-11-04 10:59] lnlp commented on #37
Is that new Envoy firmware?
Does that get installed automatically?

[2020-11-04 11:11] lnlp commented on #37
What about 3-phase systems. Will there be / shouldn't there be 3 separate "eim" sections, each for one phase?
In that case, where is the total power reported in '/production.json' ? In the "inverters" section?

And when envoy_reader reads its data from the "eim" section shouldn't that be done for each phase separately and then summed to get totals for all 3 phases?

I'm a bit puzzled here because

[2020-11-04 17:46] gtdiehl commented on #36
Ok great I found the data sheets for that product.

One other question, do you have 4 acb units installed?

[2020-11-04 19:00] dutchkiwi2 commented on #36
Yes we do.

On Thu, 5 Nov 2020, 06:47 Greg, <notifications@github.com> wrote:

[2020-11-04 21:22] gtdiehl commented on #37
I agree a better solution would be to have additional parameters.

Currently the envoy_reader api returns:
[code]

These come from mainly 3 pages (excluding Envoy running <3.9 firmware)
[code]

I would propose additional parameters (lets prepend them in this example with `metered_*`
[code]
Then change it so any polling of the original production parameters only come from `/api/v1/production`. And

[2020-11-04 21:57] lnlp commented on #37
@gtdiehl
I like the suggestion of using `/api/v1/production` and add the additional metered_* parameters for `/production.json`.

I would also like to see added the timestamp of when the values were updated, e.g. lastReportDate and readTime (there's little consistency in the different names unfortunately).

For `/api/v1/production` the timestamp can be read from `production.json` "inverters" secti

[2020-11-04 23:57] rct commented on #37
@gtdiehl

* Good catch on `production[1](eim).activeCount` == 0 as the flag that CT metering is off.
* Re: using `/api/v1/production` by default - If I understand things correctly, when production CT metering is being used, I think everything you need is in `production[1](eim)`. So polling `/api/v1/production` would be unnecessary overhead for those who have CT production metering.  Given the limi

[2020-11-05 00:24] rct commented on #37
@lnlp - trying to answer a few of your questions with what I've learned so far.

* Envoy firmware gets updated by Enphase automatically. My Envoy IQ is running D5.0.49 (77afa8)  Build date Thu Mar 19, 2020 01:44 AM PDT.  My envoy has been updated twice (or more) as far as I remember.
* production.json eim only shows an aggregated number. Regarding measurements for each phase, he Envoy has a URL th

[2020-11-05 03:14] gtdiehl commented on #37
So I've hacked together some code

Here is the output of envoy_reader from various Envoys.  I removed the inverter data and right now the values are zero due to no sunlight, but you should get an idea of what would be sent to Home Assistant once that sensor code is updated.

Envoy-S or IQ running D5.0.49 without Metering Enabled
[code]

Envoy-S or IQ running D5.0.49 with Metering Enabled
[code]

E

[2020-11-05 04:40] gtdiehl commented on #37
The code is on one of my branches.  I would like some input from @jesserizzo and others before opening a PR to merge this change.

[Modified envoy_reader.py](https://github.com/gtdiehl/envoy_reader/blob/change_polling_pages/envoy_reader/envoy_reader.py)

[2020-11-05 11:48] lnlp commented on #37
I tested your envoy_reader version with my Envoy-S Metered Multiphase with metering disabled (no CT's).
It appears to work fine.

Observation: metered values get truncated instead of rounded.
Why not use actual values (with decimals, when reported)?

My Envoy reports tiny metered values while metering is _disabled_.
This is caused by my Envoy not by envoy_reader. Could this have been fixed in a la

[2020-11-05 11:56] lnlp commented on #37
How about simplifying
"Metered Production data not available for your Envoy device." and
"Metered Production data not available for your Envoy device."

into: "not available"

[2020-11-05 17:08] rct commented on #37
@gtdiehl - Here's my Envoy IQ (metering turned off) output using your change_polling_pages branch:

* I think it is working as you intended, but see [my comments above](https://github.com/jesserizzo/envoy_reader/issues/37#issuecomment-722038493)
* Note: I've got production and consumption metering turned off (activeCount == 0). The code is currently returning values for those rather than your 'not

[2020-11-05 17:26] gtdiehl commented on #37
Thank you for running the code!

I originally had the metered values not being returned when metering is disabled (`activeCount == 0`), but then I thought someone might want these values or some other reason. So I just display the values unless the device actually does not support metering.

They can always filter these values out in Home Assistant by specifying which `monitored_conditions` they w

[2020-11-05 17:38] rct commented on #37
Yes, I do want and think the values for both `inverters` and `eim` should be accessible if available. I just wanted to let you know the logic might not be working as intended.

In my comments above, I was arguing for the case to still be able to get the inverter numbers even if metering is enabled.

[2020-11-05 18:44] gtdiehl commented on #37
I see where you are coming from but to keep the code simple I'm retrieving inverter production values from `/api/v1/production` rather than pulling a value from `/production.json` and the rest from `/api/v1/production`

It seems the the values are almost the same and they are both updated every 5mins.  Other than reducing http calls to the envoy device, is there another benefit to pull the product

[2020-11-05 18:46] gtdiehl commented on #37
Good catch!  I'll return values with a decimal

[2020-11-05 23:17] rct commented on #37
One case that is not handled, if you want the inverters current production and WH lifetime production, with metering turned on, you can only get that from production.json.

Maybe this is only of interest to me. When metering gets turned on `/api/v1/production` will switch over to metered values and will no longer have access to the history in the inverter data.

[2020-11-06 17:14] rct commented on #12
@gtdiehl - Thanks for working on this.

I was just tracing envoy_reader running manually from the command line using your change_polling_pages branch. Any idea why the production/inverters page is hit twice?

[code]

[2020-11-06 17:24] gtdiehl commented on #12
@rct I looked at the modified code (actually the inverter production hasn't changed) and I don't see anything obvious as to why the inverter page would be retrieved twice. The only thing I can think of is the http communication is do to the authenticated page?  Maybe two calls are made by the requests library one to authenticate and the other to retrieve the page?

[2020-11-06 17:30] gtdiehl commented on #12
To update on this issue.

The PR on the Home Assistant side will reduce the number of calls made to the API and ultimately to the Envoy device.  I made additional changes on the API side (that is on my branch as txt noted above).

When the HA changes are merged the API calls will be reduced some. Then when the API side changes are merged the calls to the Envoy device will be reduced even further.

[2020-11-06 18:23] rct commented on #12
Yes, sorry you are right. It's doing digest auth, so it made an unauthenticated request, got the nonce, then was able to make the requested with the digest auth.

Tracing the current code running in Home Assistant, I get 54 HTTP requests to `/api/v1/production/inverters` per cycle for my 27 inverters.

Hopefully your new code once accepted will reduce that from 54 to 2 inverter requests per cycle.

[2020-11-06 18:26] gtdiehl commented on #12
@rct No problem.  What are you using to trace the http calls?

[2020-11-06 18:28] rct commented on #12
In this case tcpflow since it is quick an easy to capture each request/response in files on a remote RPi.

[2020-11-06 19:00] gtdiehl commented on #12
Okay thanks!  I used tcpdump/tcptrace on just the Home Assistant envoy sensor.py changes.  And it's inline with what I expected.  Multiple calls being made to production pages (`/api/v1/production` & `/production.json`), but a reduction to only 2 calls made to `/api/v1/production/inverters`

[code]

The following reductions to `/api/v1/production` & `/production.json` should match your tcpflow out

[2020-11-06 20:11] rct commented on #12
@gtdiehl - re: tcpflow - Sorry for the trouble.  What system are you on?  I'm surprised tcpflow has any Python dependencies. The one I'm using is C/C++ based and it is pretty old utility   On raspbian the package is 226k, 1 binary, a couple of doc files, and a manpage.  The dependencies are:

[code]

Back to the topic at hand, above you show 8 fetches of `production.json `and 12 fetches for `/api/

[2020-11-06 20:28] gtdiehl commented on #12
@rct Hey no problem.  It was a quick fix. I'm running macOS and used brew to install to install tcpflow.

One polling cycle at the startup of Home Assistant.  After that the polling is reduced.  This is what a subsequent polling cycle then looks like for an Envoy-S/IQ Envoy.  Of course this is with the currently released envoy_reader API, so when the API is merged/updated the polling should look l

[2020-11-07 04:43] rct commented on #12
What polling (scan) interval are people using with Home Assistant?

Home Assistant's default is 30 seconds.

If you aren't trying to calculate WH yourself then probably only needs to be sampled every few minutes.

[2020-11-07 05:17] gtdiehl commented on #12
@rct Looking through the Home Assistant envoy sensor.py code, I don't see any way to override the scan interval.  I have to look into adding that to the sensor.py code!

I'm thinking of adding a scan interval of every 60seconds.  The envoy inverter data is updated every 5mins (15mins if you have older Envoy-C hardware) but the Watts value for production and consumption from a metered envoy appears

[2020-11-07 06:58] gtdiehl commented on #37
@rct I get what you're saying. I'll have to look into this one a bit.

[2020-11-08 20:00] gtdiehl commented on #37
I know this may seem like a back step but I'm thinking of changing back to the original output of the envoy_reader api, and have the code get the production values based on the activeCount attribute.  The rationale is so that the Home Assistant sensor monitored_conditions does not have to change which ultimately does not create a breaking change or force users to change their environment.

Like I

[2020-11-09 17:10] rct commented on #37
@gtdiehl - I understand. It's worth thinking about what people really expect and would really like to get from Envoy reader.

Being able to access any the data I need motivated me to just try going direct with Home Assistant's REST sensor. So far I'm happy. I have control to access to any of the raw values I want. Currently I poll both `/api/v1/production` and `production.json`.

Though HA's utili

[2020-11-10 00:15] lnlp commented on #37
For me that means that envoy_reader and the 'Enphase Envoy' Home Assistant add-in will be useless for reading the standard production counters as activeCount = 0 due to not having installed CT's.
That envoy_reader currently doesn't properly handle this is a serious flaw.
I understand the importance of backwards compatibility for current users, but not fixing this issue makes envoy_reader unusable

[2020-11-10 00:17] lnlp commented on #37
Are you willing to share how you have setup the REST sensor for Envoy?

[2020-11-10 00:33] rct commented on #37
This reads the values from /api/v1/production and creates a sensor for each.  It's pretty straightforward since the returned JSON is simple:

[code]

Using the above sensor, this tracks daily, weekly, monthly WH production totals.  Weekly by default resets based on day of the week.  It isn't a 7 day rolling counter like the Envoy has.

[code]

[2020-11-12 00:14] gtdiehl commented on #37
@rct and @lnlp Thank you for testing out my code!

Given that changes are not being implemented/reviewed/merged on the Home Assistant side in a timely manner, as well as weighing the pros and cons as I have previously noted. I have decided to go back to the original format and just fix the issue that @lnlp had originally wrote up.  Maybe in the future the additional sensors can be created but for

[2020-11-13 11:45] lnlp commented on #37
@gtdiehl

I have tested your [envoy_reader.py](https://github.com/gtdiehl/envoy_reader/blob/fix_issue_37/envoy_reader/envoy_reader.py).
This is the output:
_(Inverter serial numbers are obfuscated, linefeeds have been added for clarity)_

[code]

### Remarks

The code appears to work fine now but I do have the following remarks:

- I suggest to use the term 'CT Metering' (or 'CT Metering Enabled')

[2020-11-13 12:46] lnlp commented on #39
It's not exactly clear to me what the issue is here. Could you elaborate?

My firmware (R4.10.35 (6ed292)) reports it but requires installer permissions to read it.

Serial number of what?
What exactly would `/prov` be needed for?
Could `/inventory.json` be an alternative?

[2020-11-13 20:00] gtdiehl commented on #39
The real issue is how can we filter out dead/removed inverters from Home Assistant. To do that we have to implement a `unique_id()` method in the Enphase Envoy sensor code in Home Assistant. Per the [Unique ID requirements](https://developers.home-assistant.io/docs/entity_registry_index/) the ID (or any text that makes up the ID) should not be "possible for the user to change the unique ID".

The

[2020-11-13 21:31] rct commented on #39
@gtdiehl - I'm having a hard time following the issues you are bring up.

From what I've seen the envoy and each inverter have a serial number set by Enphase which look like they come from the same pool of numbers. which seem to be currently in the 40 bit range, mostly due to a prefix in my case of 121, which is probably some sort of name space partitioning.

Since it appears to be a string within

[2020-11-13 22:35] gtdiehl commented on #39
@rct I'll try and answer your points, but before I do maybe I can explain my rationale a different way.
What I'm looking for is a way to retrieve the Envoy serial number that works across all firmware versions and does not require user credentials.

Yes the Inverter serial number is unique enough for each inverter, but not for the other entities that are created for the other monitored conditions

[2020-11-14 18:28] rct commented on #39
Ok, I think I have a better understanding now. This is probably easier to discuss setting aside the individual inverter discussion for now. Looking at the MQTT sensors I'm creating via rtl_433 and MQTT auto discovery, I see what you are talking about and how it should probably work.

In order to be able to use the Home Assistant UI to configure, customize, or delete entities (and devices), the ent

[2020-11-17 10:45] OllemGit commented on #37
["_Be aware that CT's can be installed for either Production, or Consumption, or both.
envoy_reader should handle all these (4) situations correctly._"]

Exactly: I have only CT's installed for measuring Consumption...

My json output looks like this:

[code]

[2020-11-17 11:41] lnlp commented on #37
@OllemGit

"CT's" is plural but `consumption/eim/activeCount` only shows 1.
Is it correct that you have only one single CT for consumption?

[2020-11-17 11:51] lnlp commented on #39
Relying on an assumption that IP address or hostname 'are being fairly static' is a 'dangerous' assumption and bad practice.

[2020-11-17 23:02] gtdiehl commented on #37
@lnlp Thank you for running the code!

This status was for me while debugging.  It'll be removed from the code.

Can you open a new issue (enhancement) to track adding new parameters?

I'm following the current convention that was previously coded. I would have to look into how to send specific data from the envoy_reader API to Home Assistant.  Can you open a new issue (enhancement) to track this

[2020-11-19 00:21] gtdiehl opened #41 "Convert API to use ConfigFlow in Home Assistant"
Home Assistant is letting previously implemented integrations continue development if they have implemented `monitored_conditions` in the `configuration.yaml`.  For me as a user this was helpful as I could display/hide which sensors I was interested in. Now with [ADR-0010](https://github.com/home-assistant/architecture/pull/366) Home Assistant will not approve any code changes for an integration i

[2020-11-20 12:01] OllemGit commented on #37
That's an interesting question... I have a 3 phase power system, so I also have 3 CT's which each measure 1 fase, but in the Ephase app the value is shown as a single Power consumption parameter.

[2020-11-21 10:51] lnlp commented on #37
Very interesting indeed. I would expect to see at least three different sets of values, one for each phase.

Could there there be another (URL) location on the Envoy where differentiated data for each phase is available?
Or maybe the Envoy combines the data of all three phases and the differentiation gets lost?

What use are values of e.g. `rmsCurrent` and `rmsVoltage` if only single instances rep

[2020-11-21 10:54] lnlp commented on #37
Yes the original bug in envoy_reader has been fixed.

I hope we can see it being updated in Home Assistant as well soon.

[2020-11-21 16:48] lnlp opened #42 "Add production_readingtime and consumption_readingtime [enhancement]"
**Enhancement Request**

Adding the following output parameters will be useful:

- **production_readingtime**

- **consumption_readingtime**

Reporting of reading time for production and consumption is similar to the currently implemented reporting of inverter data, which includes the reading time for each inverter.
For the inverters reading time is output as array value without using a parameter

[2020-11-21 17:11] lnlp opened #43 "Add consumption_ct_metering_enabled and production_ct_metering_enabled output parameters [enhancement]"
**Enhancement Request**

Please add the following two (boolean) output parameters:

- consumption_ct_metering_enabled

- production_ct_metering_enabled

This enhancement will work with newer Envoy models that output `production.json`.
_(And should probably only be output for these newer Envoy models.)_

production_ct_metering_enabled is True when `production/activecount` > 0, False otherwise.
cons

[2020-11-21 17:16] lnlp commented on #37
@gtdiehl

Done, see #43.

Done, see #42.

[2020-11-21 17:36] gtdiehl commented on #37
@lnlp I'll release the new version on pypi this weekend and open a PR on the Home Assistant side as well.  Yeah hopefully it'll make it into the 0.119 release!

[2020-11-21 17:39] gtdiehl commented on #37
Thank you for opening those issues.  Maybe I should have been a little clearer but Home Assistant is not letting existing integrations to change their `monitored_conditions`. So to make changes unfortunately we can't add a new sensor and display the new data.  I added some more detail in the Issue #41.

[2020-11-21 18:23] gtdiehl opened #45 "Remove wrong tags from GitHub website"
I accidentally created tags with wrong version numbers.

Please remove 0.116.2 and 0.117.0 tags.

[2020-11-21 19:13] lnlp commented on #41
Unfortunately I lack the knowledge about the internals of Home Assistant and how sensors and the updating process are implemented. And there hardly any documentation on how the 'Enphase Envoy' reader is implemented.

Can you please elaborate about what will not work and why?

It would be nice if any additional additions to envoy_reader/Enphase Envoy could just be configured by adding them to the y

[2020-11-21 19:15] lnlp commented on #37
See my response in #41.

[2020-11-22 00:16] #45 closed

[2020-11-22 02:22] gtdiehl commented on #37
There was a reply in the Home Assistant Community forum where a person took this screenshot.
![image](https://user-images.githubusercontent.com/34967045/99892120-6df3b680-2c26-11eb-8158-c5f814fdc66b.jpeg)

Not sure what the actual url for the page is though.

[Forum link](https://community.home-assistant.io/t/need-testers-for-updated-enphase-envoy-sensor/213296/48)

[2020-11-22 11:01] lnlp commented on #37
No url listed for that screen unfortunately, but the following is listed http://envoy.bluezone.lan/stream/meter (requires installer pwd). This streams data (every second or so) with information for each phase separately.
_I have yet to look into what the data actually is and how it relates to my Envoy without CT's._

Output sample _(pretty-printed)_:

[code]

On my Envoy-S multi-phase (no CT's ins

[2020-11-24 14:08] OllemGit commented on #37
`Are all three phases wired to your Envoy power connector_(most-left connector on the Envoy)_?`
=> 4 wires enter the most-left connector of the Envoy + 3x2 wires for the CT's
I did not check (yet) where the come from and/or lead to

[2020-11-24 18:44] pedrocr opened #46 "Support reading values of consumption and production per phase"
As discussed in #37 when using a three-phase system there is a lot of other data the equipment captures that is not being read. Apparently with installer permissions there's an API that gives things like total power, reactive power, frequency, voltage for each of the three phases in `/stream/meter`.

There's also this reverse engineering to generate the needed password from the serial number:

htt

[2020-11-24 19:03] pedrocr commented on #46
Apparently there's also a `/ivp/meters/readings` that should include the three phases separately.

[2020-11-25 12:18] lnlp commented on #37
Thanks for checking.

That can only mean that all 3 phases are connected, the 4 wires will be: N, L1, L2 and L3.

My guess is that data from `/stream/meter` on your envoy will report realistric (true) voltages for all three of `data/production/ph-a/v`, `data/production/ph-b/v`, `data/production/ph-c/v`.

Would it be possible for you to check/verify this?

---

My Envoy reports a realistic value fo

[2020-11-25 12:46] lnlp commented on #46
The `/stream/meter` output is generated about every second.
My assumption is that this was implemented for setup/installation purposes.

I wonder though, if this could negatively impact the performance of the Envoy in its communication with the inverters.
It should not, but this depends on if the hardware on the Envoy is sufficiently powerful to do this on regular/continuous bases.

My (Dutch) sma

[2020-11-25 13:02] pedrocr commented on #46
Since the output is a stream where we only get values when the meter decides instead of continuously hitting it with requests it should theoretically be less of a performance drag. It doesn't have to continuously react to new connections and only outputs values at its own rate. Enphase themselves tell me this per-phase information is available for premium subscribers so they are already expecting

[2020-11-25 17:19] pedrocr commented on #37
Instead of `/stream/meter` has anyone tried `/ivp/meters/readings`. I've seen that referred online as being able to get the individual readings and maybe it doesn't require the installer password.

[2020-11-25 17:56] rct commented on #37
Interesting, `/ivp/meters` gives some configuration/status information such as `phaseCount` and `phaseMode` that I haven't seen elsewhere:

[code]

`http://envoy.local/ivp/meters/readings` seems to be very useful.  I does give a way of polling the detailed data from each CT for what looks to be all three phases, whether it is installed or not.   At first I seemed to get a 404 for but maybe I didn'

[2020-11-25 18:18] pedrocr commented on #37
@rct the scraping blog was where I got that URL. Can you confirm that you can get this without any authentication? If so this may end up being the best solution, although it requires 2 requests.

[2020-11-25 20:44] lnlp commented on #37
I just tested it in Windows Sandbox: No authentication required for both url's.

[2020-11-25 20:45] pedrocr commented on #37
Seems like this is the winner for #46

[2020-11-25 20:46] pedrocr commented on #46
Apparently there's an URL without authentication that's confirmed to give per-phase values:

https://github.com/jesserizzo/envoy_reader/issues/37#issuecomment-733861030

[2020-11-25 21:54] lnlp commented on #37
I just found another url that outputs detailed data for each phase separately: `/production.json?details=1`

_There is probably still a lot more to discover.._

Sample output:

[code]

[2020-11-25 22:00] lnlp commented on #46
And another (familiar) one that can also give per-phase values:

See the following [comment in issue #37](https://github.com/jesserizzo/envoy_reader/issues/37#issuecomment-733962925)

[2020-11-26 12:06] OllemGit commented on #46
Sample output with just consumption CT's (3 phases) installed:

{
  "production": [
    {
      "type": "inverters",
      "activeCount": 14,
      "readingTime": 1606391880,
      "wNow": 135,
      "whLifetime": 1491812
    },
    {
      "type": "eim",
      "activeCount": 0,
      "measurementType": "production",
      "readingTime": 1606392132,
      "wNow": 0.919,
      "whLifetime": 0.982,

[2020-11-26 12:15] pedrocr commented on #46
It seems the only data this may not include is frequency, although I'm not sure that's actually being measured or if it's just a fixed value. `/stream/meter` may still be better as a way to get more frequent data to react to power variations. But for reporting purposes this seems like the best solution.

[2020-11-26 13:57] lnlp commented on #46
@OllemGit
How are your consumption CT's wired?

One of the wNow values is negative. I assume this means feeding back to the grid.

This means that the wires you measure do not only carry consumption flow but also any production that flows back to the grid.

Another way to wire the CT's is to measure only consumption, that way you measure true consumption (regardless of wheter the power came from t

[2020-11-26 14:00] lnlp commented on #46
I wonder if frequency is any interesting. The local net here is 50 Hz based.

In the Envoy I see the following values defined:

[code]

So the total margin (of operation) is quite small: only 4 Hz.

[2020-11-26 19:11] OllemGit commented on #46
The fact I only have consumption CT's and no production CT's is not my choice, but the installation firm initially didn't want to install any CT's at all. Because the Envoy already measures production we agreed to install only the consumption ones.

They selected 'Load Only' in the configuration.

I haven't been able to figure out if there are any bogus values measured.
To make things more complic

[2020-11-27 03:18] lnlp commented on #46
I currently have no CT's installed, so everything below will be a theoretical excercise based on Envoy documentation, my Envoy's firmware (Web UI/API) and experience.

_Be aware that the information below contains some (common sense) assumptions._

In my Envoy-S Installer setup menu two options are possible for configuring the Consumption CT's:
- "Load only"
- "Load with solar production"

This is

[2020-11-27 20:22] OllemGit commented on #46
Thanks a lot for sharing. I'll open the covers somewhere this weekend to check the wiring!

[2020-12-06 07:00] gtdiehl opened #48 "Replace deprecated requests_async with httpx library"
The `requests_async` library is deprecated and is replaced by `httpx`. `Envoy_reader` is using the `httpx` when retrieving Interver data from the `http://{ip}/api/v1/production/inverters` url. To resolve Home Assistant [PR #42857](https://github.com/home-assistant/core/pull/42857), the `requests_async` should be replaced with `httpx`

[2020-12-07 19:29] #48 closed

[2020-12-08 10:15] HA-TB303 commented on #46
I have exactly this setup and my data looks like:

[code]

[2020-12-08 10:20] HA-TB303 commented on #46
For now I am getting phase data "the hacky way" like outlined here:
https://community.home-assistant.io/t/need-testers-for-updated-enphase-envoy-sensor/213296/51?u=michel72

which now looks like:
![image](https://user-images.githubusercontent.com/9609805/101471208-5109f380-3947-11eb-9294-5bf0eaeb2e7f.png)

[2020-12-13 22:10] bouyssic commented on #36
Hi team.

I would be interested on this feature too. If you need help with testing let me know.

Cheers

[2020-12-14 09:20] gtdiehl commented on #37
Well sorry to say but there was a bug in the code. It causes Home Assistant to not update after a couple of polls. I have made the change to fix it, actually just removed a single line of code, PR #51. Now I have to get this included in a bugfix-release for Home Assistant as 2020.12.0 includes the envoy_reader with the bug.  I'm sorry about this!

[2020-12-15 16:28] lnlp commented on #46
@HA-TB303

The image actually shows 2 different setups:

1. Consumption CT's drawn in black: "Load with solar production"
2. Consumption CT's drawn in green: "Load only"

How are your Consumption CT's setup?

[2020-12-15 16:51] lnlp commented on #37
Too bad, but no need to feel sorry. 🙂
Thanks for your continuing efforts!

I was happy to see it working in 2020.12.0 now but then noticed values reported in HA don't match /api/v1/production.
Your message explains this.

Do you expect to get the fix into the next (bug-fix) release (presumably 2020.12.1)?

_Mmm, just wondering: will a HA 2020.12.1 bug-fix release automatically become 2021.01.0 if

[2020-12-15 16:58] gtdiehl commented on #37
@lnlp Thanks! 😃  The fix was merged into the dev branch yesterday, which usually means it will make it into the next release (2021.01.0). Though this time I had someone add my PR to the [list of PRs](https://github.com/home-assistant/core/pulls?q=is%3Apr+milestone%3A2020.12.1) that should be included in 2020.12.1. Cross your fingers, and I'm hoping it will be included in 2020.12.1.

[2020-12-15 17:20] HA-TB303 commented on #46
Ah, I missed that. They are on the grid side (black in the image)

[2020-12-15 20:24] HA-TB303 commented on #46
I have checked again. Mine are positioned between the residual current circuit breakers and the main 3 phase circuit breaker.

[2020-12-15 21:47] gtdiehl opened #54 "Move I/O operations out of methods into single getData method"
Home Assistant does not want I/O operations to occur when Properties are updated. See [link](https://developers.home-assistant.io/docs/core/entity/sensor/)

Most I/O operations have been moved out of the individual methods, as long as the `getData()` method is called since this method sets a flag that forces the individual methods only pull data from the variables.

Still some I/O operations are o

[2020-12-16 01:27] gtdiehl opened #55 "Production and Consumption values are rounded for some Envoy devices"
Envoys that have CTs installed will have more precise values for the Production and Consumption values.

If the Envoy has metering enabled, currently the `envoy_reader` pulls Production data for Current, Weekly, and Lifetime from the part of the JSON data for the CT. These values have a 2 or 3 digit precision.

This happens too for Consumption data. Though the metering feature does not have to be

[2020-12-16 04:24] #54 closed

[2020-12-16 05:08] HA-TB303 commented on #46
Regarding this, is there actually a different setup required in the Enphase Envoy-S Metered, depending of the choice one makes for installing the consumption CT's, if so, where to find this setting?

I would just like to verify if it's setup correctly by the installer.

[2020-12-19 11:40] lnlp commented on #37
I upgraded to HA 2020.12.1 and the `/api/v1/production` counters now appear to report properly in HA.

[2020-12-21 14:58] #37 closed

[2020-12-28 19:26] gtdiehl opened #58 "RemoteProtocolError is seen when gathering Inverter data"
When retrieving inverter data from an Envoy running firmware D3.15.7 the httpx library sometimes returns httpx.RemoteProtocolError exception.

When using the envoy_reader library in Home Assistant the next polling cycle usually retrieves the current data from the Envoy but the poll that did fail the historical data in Home Assistant will show a value of 0/None/Unavailable for that past poll

envoy

[2020-12-28 22:38] #58 closed

[2020-12-28 23:27] gtdiehl opened #60 "Exception is seen in HA when using Envoy with <3.9 firmware and monitoring inverters"
If an Envoy is discovered in Home Assistant and the user does not specify monitored_conditions or does specific inverters for monitored_conditions than an exception is seen in the Home Assistant log:

Inverter data gathering for Envoys running <3.9 firmware is not supported, though Home Assistant should fail gracefully.

[code]

This is due to the envoy_reader library returning a text string and H

[2020-12-28 23:37] #60 closed

[2020-12-29 01:26] gtdiehl commented on #41
@lnlp Sorry for the late reply

The main issue really revolves around adding Envoy details into Home Assistant. About 8 months ago it was [approved](https://github.com/home-assistant/architecture/blob/master/adr/0010-integration-configuration.md#decision) on the Home Assistant side that new integrations have to support a User Interface configuration (called config flow) rather than using the `conf

[2020-12-30 19:21] gtdiehl commented on #12
The changes on the Home Assistant side to reduce calls made to the Envoy will be in the 2021.1 release.

[2021-01-22 16:22] lnlp opened #62 "Questions about negative whattsNow value"
Today I noticed reporting of negative `whattsNow` value in the Home Assistant Enphase Envoy plugin (labeled 'Actueel' on screen):

![capture 2021-01-22 16·56·00 - Copy](https://user-images.githubusercontent.com/40600181/105514915-57281980-5cd4-11eb-904d-884fd60944af.png)

However `envoy/api/v1/production` showed an active `whatssNow` value of 0:

![capture 2021-01-22 16·56·09 - Copy](https://user-

[2021-01-22 17:14] dalklein commented on #62
'end of noon'?   If it's dark out, the micros do consume a small amount of current.

In my system with 23 total inverters and the older oval Envoy,  m190 / m210 and replacement m190IG/IQ7,  the system does consume 10 to 11 watts total at night, measured by my utility meter.  My Envoy is powered directly from the same circuit so that would be using 1-3watts.    I see zero or some small value report

[2021-01-22 18:25] lnlp commented on #62
Thanks. It now shows 0 again (which I would expect). I apparently looked exactly at the 'right' time to notice the effect.

The micro inverters use power overnight? I have 15 iQ7+ installed. Maybe the iQ7(+) make a difference in that aspect?

Still strange that the value reported in Home Assistant was different from the value reported by the API.

[2021-04-11 20:19] jesserizzo opened #65 "Rename master to main"
@gtdiehl I'd like to rename the master branch to main, just want to make sure it won't screw up any in flight work. Looks like there's only 1 active PR, which will get automatically updated.

[2021-04-11 20:33] gtdiehl commented on #65
@jesserizzo I don't see any issue with it.

[2021-04-12 06:06] gtdiehl commented on #65
@jesserizzo I looked into renaming the default branch and it appears you can under `Settings` >> `Branches` and click on the pencil to rename the branch. I don't have access to the Settings, so you'd have to rename the default branch from `master` to `main`

[2021-04-12 12:34] #65 closed

[2021-04-15 22:25] gtdiehl commented on #62
@lnlp Sorry for the late reply. If I remember correctly you have an Envoy-S? The current watts now value would be coming from ```/production.json```. This could account for the difference.

[2021-04-16 00:10] gtdiehl commented on #19
Closing issue.  We have a testing framework.

[2021-04-16 00:10] #19 closed

[2021-04-16 00:11] gtdiehl commented on #41
Closing issue. @bdraco converted the Home Assistant sensor to use config flow.

[2021-04-16 00:11] #41 closed

[2021-04-16 00:12] gtdiehl commented on #12
Closing issue. API and Home Assistant changes have been made to reduce number of HTTP calls made to Envoy end point.

[2021-04-16 00:12] #12 closed

[2021-04-17 15:23] rsnodgrass opened #72 "Add Envoy data from Encharge batteries"
## Use Case

The Envoy now supports collecting data from the Enpower transfer switch and any (0 or more) Encharge batteries attached.

## Solution

Sensor data for battery consumption, battery charging, current charge, and like the existing individual microinverter functionality the ability to have current charge for each independent battery.

## Alternatives

[2021-04-18 03:25] rsnodgrass commented on #72
I see that accessing the /home URL locally shows that Enpower device is installed and that the Grid is ON.

Some other data end points locally that return data on the setup:

[code]

[2021-04-18 03:26] rsnodgrass commented on #72
And..importantly the following has data on the Enpower device:

"enpower":{"connected":true,"grid_status":"closed"}

I believe grid_status closed = that the grid is connected (e.g. relay is closed, not in an open state).

[code]

[2021-04-22 20:16] gtdiehl commented on #72
@rsnodgrass I don't have access to an Envoy currently with batteries, are those URLs password protected?

[2021-04-22 20:34] rsnodgrass commented on #72
@gtdiehl sent you an email with more info.

[2021-04-22 22:28] gtdiehl commented on #36
@bouyssic Do you have the ACB or the Encharge 3/10 units?

[2021-04-22 22:35] dutchkiwi2 commented on #36
We have ACB batteries

Johan & Monique
sent from my phone

On Fri, 23 Apr 2021, 10:28 Greg, ***@***.***> wrote:

[2021-04-23 00:48] gtdiehl commented on #36
I'm working on adding battery data to the ```envoy_reader``` API have to test it on other firmwares and such.

Also working on adding it to Home Assistant, this is what I have so far on that side:
<img width="808" alt="Screen Shot 2021-04-22 at 5 41 42 PM" src="https://user-images.githubusercontent.com/34967045/115801974-d7712000-a392-11eb-86ce-1a247f92e851.png">

[2021-04-23 02:53] gtdiehl commented on #36
I just noticed that @dutchkiwi2 your JSON output contains ```percentFull```. I need to add that attribute. It appears this only appears when you have batteries installed, but I can't confirm this as yours is the only Envoy I've ever seen that has batteries installed

[2021-04-23 07:11] bouyssic commented on #36
Hello @gtdiehl ,

I have ACB also like @dutchkiwi2

Here an example:
`    "storage": [
        {
            "type": "acb",
            "activeCount": 1,
            "readingTime": 1619161595,
            "wNow": -3,
            "whNow": 0,
            "state": "idle",
            "percentFull": 0
        }`

If you need anything for debugging I can help. Right now I deleted the integration and am

[2021-04-23 07:35] gtdiehl commented on #36
@bouyssic I have made my changes to the code to retrieve the battery status. Can you run the ```envoy_reader.py``` standalone code against your Envoy? The code is located at [envoy_reader.py](https://raw.githubusercontent.com/gtdiehl/envoy_reader/battery_status/envoy_reader/envoy_reader.py)

[2021-04-23 08:40] bouyssic commented on #36
Here you go sir:

`bash-5.0# python envoy_reader.py
Enter the Envoy IP address or host name, or press enter to use 'envoy' as default: 1.1.1.1
Enter the Username for Inverter data authentication, or press enter to use 'envoy' as default: username
Enter the Password for Inverter data authentication, or press enter to use the default password: ******
Reading...
production:              1237
consumpt

[2021-04-23 18:19] gtdiehl commented on #36
Great! Thank you. I will merge these changes and make a new release. Than I can work on getting the Home Assistant sensor updated.

[2021-04-23 19:31] bouyssic commented on #36
Don't thank me, you did all the heavy lifting

[2021-04-23 23:11] #36 closed

[2021-04-24 00:27] gtdiehl commented on #36
@bouyssic I have to wait for Home Assistant release that contains the Enphase Envoy ```config_flow UI``` change, [PR #48517](https://github.com/home-assistant/core/pull/48517). I'm thinking it will be in the 2021.5 release. I'll reach out once you can test the updated sensor code, that is if you want to upgrade.

Unless you have a Home Assistant development environment already setup?

[2021-04-29 20:21] gtdiehl commented on #72
I've looked into this a little bit more after implementing the Battery status for #36.

It seems adding the grid connection status of the Enpower Smart Switch might be beneficial to people as seems to show if you are connected to the grid or not.
[code]

This would require polling of the ```/home.json``` page. If we do poll this page we should probably investigate what the other values in the ```c

[2021-05-19 22:57] cgarwood commented on #72
I noticed my Encharge batteries don't show up under the `production.json` output. I did some digging, and it looks like my envoy shows the Encharge and Enpower data under `/inventory`

[code]

[2021-05-20 14:54] cgarwood commented on #72
FWIW to follow-up on this, the `real_power_w` from the `ivp/ensemble/inventory` page seems to differ from what shows up on Enlighten, My batteries show about 0.5kW higher from the envoy inventory data than what Enlighten shows.

[2021-06-10 19:22] rianadon opened #77 "Serial number fetch for old Envoy crashes"
Since upgrading to the latest Home Assistant (with a new version of `envoy_reader`?), the enphase integration is failing.

I tried installing `envoy_reader` in a new environment, and it looks like there is an error fetching `info.xml` for retrieving the serial number, which causes `getData` to fail.

Running with `HTTPX_LOG_LEVEL=debug`:

[code]

[2021-06-18 09:33] mikeykau opened #78 "Enphase integration not working after Envoy updated to D7.0.43 (8ed8ea)"
Authentication process appears to have changed.

[2021-08-11 22:52] gtdiehl commented on #77
@rianadon What Envoy type do you have? And what is the firmware version? Thanks!

[2021-08-11 23:04] rianadon commented on #77
Thanks for taking a look into this!

I don't have the type for you at the moment, but the firmware version is R3.7.31 (11b4e9).

[2021-08-12 00:56] gtdiehl commented on #77
That's fine I don't need the type the firmware version is okay for now

[2021-08-12 01:56] gtdiehl commented on #77
That is a strange error.
[code]
I would expect a `200` return code for that page from an Envoy running D3.7.31

Does opening `http://envoy` directly in your browser show the Envoy webpage? What does `http://envoy/info.xml` show in a browser? Preferably from a browser on the same machine that is running Home Assistant if possible.

I ran the `envoy_reader.py` directly on an Envoy with the same vers

[2021-08-12 03:06] rianadon commented on #77
`http://envoy` shows a System Overview website with a table containing lifetime generation, currently generating, etc.

`http://envoy/info.xml` redirects to `http://envoy/error` which looks like this:
<img width="765" alt="image" src="https://user-images.githubusercontent.com/18223213/129131614-0748331d-31de-4d42-88d9-6d52088b259e.png">

`envoy_reader.py` works and gives similar output.

[2021-08-12 03:27] rianadon commented on #77
Sorry for the comment spam. I made a new virtual environment on the Home Assistant machine, installed `httpx`, then ran `envoy_reader.py`, and the script was successful!

The problem is likely package versions.

<table>
<tr><th>Successful</th><th>Unsuccessful</ht></tr>
<tr><td>

[code]

</td><td>

[code]

</td></tr></table>

I'll have to come back with this, but it looks like this isn't a problem

[2021-08-12 03:31] gtdiehl commented on #77
No problem, that is interesting. It seems some underlying http library is not forwarding the request like it should.

In the code the ```allow_redirects``` is `True`, very strange.
[code]

I'll look into a bit more tomorrow in my development environment and see if I see the problem.

[2021-08-12 04:18] rianadon commented on #77
I ran `pip install --upgrade httpcore==0.13.6`(that turned out to be the crucial package) in my Home Assistant venv and everything is up and working! Looks like maybe upgrading Home Assistant didn't upgrade *all* the packages.

Anyways, I think this was the commit in `httpcore` that fixed the `Server disconnected while attempting read` error: https://github.com/encode/httpcore/commit/10a5b0a2b0047

[2021-08-12 04:18] #77 closed

[2021-09-06 02:31] gtdiehl opened #79 "Use python library to generate password of installer account"
## Use Case
Some access points to the Envoy are password protected. The user of `envoy` usually has a default password of the last 6 digits of the Envoy's serial number. The `envoy` account usually will work but some Envoys this does not work on. Another account on the Envoy device is `installer` but this requires an external app or library to generate the password.

As well some endpoints on the

[2021-09-06 03:19] #79 closed

[2021-10-05 08:49] thetravellor commented on #72
I cant offer support for an enhancement that is constrained only to Encharge batteries, add the older and more common ACB batteries and Ill happily help out.

[2021-12-06 17:20] dcmartin opened #84 "Add number of inverters; total and reporting"
## Use Case
The existing API does not provide for number of inverters; total and number reporting.  As inverters might fail over time, being able to track the number reporting versus the total woud enable identifying potential bad inverters.

## Solution
Add regexp for extraction from HTML as well as calcuate from JSON depending on version of API; for example the number of inverters from a LEGACY

[2021-12-28 01:52] enkrypt3d commented on #78
Following this issue.

[2021-12-28 02:15] gtdiehl commented on #78
After quickly looking at some threads it appears the user creates a token from the [Enphase](http://entrez.enphaseenergy.com/) site.

Here is some [discussion](https://community.home-assistant.io/t/enhpase-envoy-on-2021-8-with-new-energy-feature/328668?page=18) from the Home Assistant forum.

I don't have access to an Enphase Envoy running D7.x firmware. Even when I access the [Enphase](http://ent

[2021-12-28 02:25] enkrypt3d commented on #78
There is the token authentication as well as the SSO which works if I login
directly to the envoy. The token configuration is a bit of a mystery but it
does not appear to be required.

On Mon, Dec 27, 2021, 9:15 PM Greg ***@***.***> wrote:

[2021-12-28 02:30] gtdiehl commented on #78
What login do you use for SSO? Is it the Envoy local account like admin or installer? Or is it your login for Enphase Enlighten?

From what I'm reading in all of the forums, is that to access the backend Envoy JSON data a token is needed.

[2021-12-28 02:32] enkrypt3d commented on #78
It is the same login for enlighten yes.

On Mon, Dec 27, 2021, 9:30 PM Greg ***@***.***> wrote:

[2021-12-28 02:41] gtdiehl commented on #78
Unfortunately for me even if I had access to another's Envoy system, my Enlighten credentials would probably not work on their system. If the backend Envoy JSON data is available without a token from the [Enphase](https://entrez.enphaseenergy.com/) site and only the Enlighten credentials tied to that system are needed, someone with the system and credentials would have to do some investigation and

[2022-01-01 20:19] enkrypt3d commented on #78
Let me how I can assist in contributing.

[2022-01-08 23:10] gtdiehl commented on #78
@enkrypt3d I was looking at the Go code in my previous post and seeing how that can be ported over somehow. But you mentioned that SSO is possible, though all of the screenshots (as I don't have access to an Envoy running D7.x firmware) have the Token text field entry.

I assume this is what happens when going to ```http://x.x.x.x/production.json```?
![125347269-d4dd0000-e3ae-11eb-876d-23ef3c10311

[2022-01-08 23:20] enkrypt3d commented on #78
![image](https://user-images.githubusercontent.com/93238214/148663112-17d984bf-98cf-4c4a-b643-9f789066a14c.png)

Clicking the top button redirects to this page:

https://entrez.enphaseenergy.com/authorize?code_challenge=4bbwml7hgn1MJQWf9nLtyzx892MxjA1RPsPaNimflPw&client_id=envoy-ui-client&redirect_uri=https://192.168.1.69/auth/callback&scope=########&response_type=code&code_challenge_method=S256

[2022-01-08 23:21] enkrypt3d commented on #78
![image](https://user-images.githubusercontent.com/93238214/148663208-885ae682-ac57-4025-978d-f15eaacb32be.png)

[2022-01-09 00:25] gtdiehl commented on #78
I'm not too sure about the code after I retrieve the token. The below code scrapes a token from the Enphase site, just have to replace the ```username```, ```password```, and Envoy IP Address.

After getting the token I'm not sure
![image](https://user-images.githubusercontent.com/34967045/148664482-1ea1d1ac-5856-4736-85b8-2199da48a69f.png)

[code]

[2022-01-09 02:40] gtdiehl commented on #78
@enkrypt3d Can you run the code against your Envoy?

It'll probably give an error when retrieving the production page.

[2022-01-09 03:13] enkrypt3d commented on #78
How do I do that? I'm not a python expert so I'd need some guidance.

After authenticating, I'm able to hit that production.json:

{"production":[{"type":"inverters","activeCount":34,"readingTime":0,"wNow":0,"whLifetime":149221},{"type":"eim","activeCount":1,"measurementType":"production","readingTime":1641697963,"wNow":-0.0,"whLifetime":2547550.432,"varhLeadLifetime":9.708,"varhLagLifetime":14543

[2022-01-09 03:18] enkrypt3d commented on #78
Also I think we can ignore the token authentication method. the top option
only uses the enlighten manager login....

On Sat, Jan 8, 2022 at 10:13 PM Corey J ***@***.***> wrote:

[2022-01-09 03:19] gtdiehl commented on #78
Copy the above Python code into a text editor like Notepad and change the username, password, and IP Address placeholders. Save the file as `tokentest.py`. From the command line, change directory to where you saved the Python file and run `python tokentest.py`

Assuming you have Python installed

[2022-01-09 03:24] enkrypt3d commented on #78
***@***.***:~# python tokentest.py
Traceback (most recent call last):
  File "/root/tokentest.py", line 19, in <module>
    jwt = soup.find("textarea").contents[0]
AttributeError: 'NoneType' object has no attribute 'contents'

On Sat, Jan 8, 2022 at 10:19 PM Greg ***@***.***> wrote:

[2022-01-09 03:33] gtdiehl commented on #78
I wasn't expecting it to fail there. I added some print statements to the output. Not sure if you want to post the output though. You can email it to me if you feel more comfortable.

[2022-01-09 03:43] enkrypt3d commented on #78
Got it - sent you the output in your inbox

On Sat, Jan 8, 2022 at 10:33 PM Greg ***@***.***> wrote:

[2022-01-12 21:53] gtdiehl commented on #78
I'm working on the changes but have run into a wall. When using the ```httpx.AsyncClient()``` it does not seem to work the same as when using ```httpx.Client()```. When trying to get the token from Enphase I can login, but when I goto the ```TOKEN_URL``` page I get an Authentication error. Maybe some session info is not being used/saved?

My current code is located at:
https://github.com/gtdiehl/e

[2022-01-12 22:17] enkrypt3d commented on #78
So I only need to replace the envoy_reader.py file? Or are there other
changes needed?

On Wed, Jan 12, 2022 at 4:53 PM Greg ***@***.***> wrote:

[2022-01-12 22:39] gtdiehl commented on #78
No don't replace it. It can be run by itself from the command line. But at this point nothing to test as it will fail. I have to investigate how to use the async client and have it behave the same as the sync client that was in the proof of concept code.

[2022-01-14 21:43] enkrypt3d commented on #78
# python envoy_reader.py
Enter the Envoy IP address or host name, or press enter to use 'envoy' as default: 192.168.196.1.69
Enter the Username for Inverter data authentication, or press enter to use 'envoy' as default: #######@gmail.com
Enter the Password for Inverter data authentication, or press enter to use the default password: ########
Reading...
DEBUG:asyncio:Using selector: EpollSelector
D

[2022-01-14 21:46] gtdiehl commented on #78
For the new firmware, additional command line arguments have to be used. In my previous comments above two examples are shown for the Uncommisioned and Commissioned Envoy token.

[2022-01-14 21:54] enkrypt3d commented on #78
Sent you an email

[2022-01-18 17:29] gtdiehl commented on #72
With the added `envoy_utils` library the `envoy_reader` can now determine the password for the `installer` account. I can see about working on this Issue after #86 is resolved.

[2022-01-19 02:09] gtdiehl commented on #78
I've released the `envoy_reader` library with support for firmware 7.x.x.

Also I have made changes to the Home Assistant `enphase_envoy` sensor integration. I'll leave this Issue open until the HA side has been completed.

Before submitting the PR on the HA side it should probably be tested out. The sensor code is located at:
https://github.com/gtdiehl/core/tree/envoy_new_fw/homeassistant/compone

[2022-01-19 02:20] enkrypt3d commented on #78
@gtdiehl thank you! So glad this is working again! Hopefully the tokens get automatically refreshed. I'll let you know how it looks tomorrow.

[2022-01-19 20:33] gtdiehl commented on #78
It looks like the code when used in Home Assistant, is hitting the Enphase server every polling cycle. Before wide usage this should probably be resolved! I'll give an update once this is resolved.

[2022-01-19 23:38] IshmaelObeso commented on #78
@gtdiehl I'm running this on my HA instance now, looks like it's working. Hit me up if you want to test anything or check on specific issues :)

[2022-01-22 03:42] gtdiehl commented on #78
@IshmaelObeso Did you setup the Envoy using Commissioned or Uncommisioned?

Also I just updated the HA integration code yesterday so that it should only hit the Enphase server when the token expires. In the earlier code it was hit them every polling cycle!

[2022-01-22 03:54] IshmaelObeso commented on #78
Commissioned, it works fine so far only thing is it seems to forget the
configuration every ~12 hours and I have to reinput the credentials.
I'll update the code after the weekend and test it out and let you know if
anything pops up. My system also has batteries if you ever want to do
testing on those.

 Ishmael Obeso | UCLA Neuroscience 2019 | Tel: (626)-703-2047

On Fri, Jan 21, 2022 at 7:43 PM

[2022-01-27 02:08] enkrypt3d commented on #78
Not having that issue here. Mine also has batteries.

[2022-01-27 02:10] gtdiehl commented on #78
Ok great thank you! I’ll look into the credential issue. It seems others
are seeing the same issue so I hope I can track it down

On Wed, Jan 26, 2022 at 6:08 PM enkrypt3d ***@***.***> wrote:

[2022-01-27 02:30] IshmaelObeso commented on #78
@gtdiehl Sounds good, hit me up if you need me to pull logs or anything. The configuration issue seems to be happening more often after I updated the code to your newest version.

[2022-02-09 13:41] djk121 commented on #78
Commissioned, with batteries. I pulled the enphase_envoy directory @gtdiehl mentioned above on Saturday, that caused the integration to work for me. It worked until last night, when it hit an auth error:

2022-02-08 22:53:25 ERROR (MainThread) [homeassistant.components.enphase_envoy] Authentication failed while fetching envoy Envoy data: Client error '401 Unauthorized' for url 'https://192.168.2.8

[2022-02-17 02:19] djk121 commented on #78
I've been watching how @gtdiehl's patch above works for about 10 days now, and I think there are two things that cause things to fail:
1. If there are any network changes on the envoy, a new JWT is required.
2. Because python, sometimes there's a big enough delay between when token validity is checked and when the request is sent to the envoy.

Both of these result in the envoy sending back a 401,

[2022-02-18 23:26] enkrypt3d commented on #78
I made the mistake of upgrading to 2022.01 and broke everything on the
enphase integration. I have downgraded the HA Core back to 2021.12.10 which
was working, and the data is coming in but it never gets to the point of
creating the entities and finally bombs out saying integration can't be
setup.

Do I need to downgrade supervisor as well? I'm able to see the data coming
into the HA logs but even

[2022-02-20 17:01] enkrypt3d commented on #78
I believe I have fixed most of my issues with this integration, but getting this error when I Try to add consumption? The production numbers are working well though:

![image](https://user-images.githubusercontent.com/93238214/154854557-dea8a97e-91e1-4517-8e03-1c5a632db729.png)

[2022-02-24 01:12] briancmpbll commented on #78
Pardon my ignorance, but where does this directory get copied into? I'm running hass os on a raspberry pi and I don't see a directory that would match this one in the file system.

I just got a enphase system installed with 7.x.x and would like to help test this.

[2022-02-24 01:22] enkrypt3d commented on #78
```/usr/src/homeassistant/homeassistant/components/enphase_envoy/```

This is the path in my docker container. yours may be a little different. be sure to empty that folder out and ensure u have all files:
[code]

[2022-02-24 18:45] enkrypt3d commented on #78
Anyone know how to monitor batteries with this integration?

[2022-02-26 00:58] del13r commented on #78
@enkrypt3d
Have you tried checking this link http://envoy/production.json
There is a storage section of that json file hosted on the Envoy.
Mine is blank as I don’t have a battery.

"storage":[{"type":"acb","activeCount":0,"readingTime":0,"wNow":0,"whNow":0,"state":"idle"}]}

[2022-02-26 01:01] del13r commented on #78
@enkrypt3d
also try http://envoy.local/ivp/ensemble/inventory
where you will see information like this
“percentFull”: 3, “temperature”: 13, “maxCellTemp”: 14,

[2022-02-26 01:26] enkrypt3d commented on #78
Yes I'm able to see these values, just trying to figure out how to create
entities in home assistant with these batteries. I have 3 encharge 10's (9
total batteries)

On Fri, Feb 25, 2022 at 8:01 PM del13r ***@***.***> wrote:

[2022-03-10 19:24] michaelgaultjr commented on #78
Hello, I've been using this integration for a few days on two combiners, one running D5.x.x firmware, the other running a D7.x.x firmware in "Commissioned" mode, and it's mostly been working fine except for every morning around 4am-5am the D7.x.x combiner integration disconnects with a `401 unauthorized` error.

[2022-03-24 18:22] rjnca commented on #78
Has there been any movement on this?  I'm still getting the "unexpected error" message both with the core integration and with the custom component.  Is there something I'm missing?

[2022-03-24 18:24] enkrypt3d commented on #78
Did you try deleting the integration, wget'ing the files, then restart HA,
then re-add the integration? You have to login with your enlighten account
now....

On Thu, Mar 24, 2022 at 2:23 PM Ron ***@***.***> wrote:

[2022-03-24 18:29] michaelgaultjr commented on #78
I've been using [the branch by @DanBeard](https://github.com/jesserizzo/envoy_reader/pull/91) and it's been working perfectly for me, the only issues I've experienced are issues with Enphase combiners themselves. Just keep in mind you may have to delete version in the python cache as described here https://github.com/jesserizzo/envoy_reader/pull/91#issuecomment-1065942291

[2022-04-01 04:06] newburns commented on #78
Is it possible to do this with HomeAssistant OS? There is no components or homeassistant folder that I can find. I'm guessing it's structure is different in the OS version (HAOS).

I am trying to do this through custom_components folder. Not sure if I need to add something to configuration.yaml for that

[2022-04-01 18:28] enkrypt3d commented on #78
You should be able to do a "locate enphase_envoy" and it should find the location. I'm using docker on a raspberry Pi 4. It's the default integration, not a custom component.

@gtdiehl any way to get the batteries added like it is in this repo?

https://github.com/DanBeard/enphase_envoy

I tried his but it didn't work for me for some reason.

[2022-04-03 16:14] briancmpbll commented on #78
Hass OS doesn’t work the same as a docket install. As far as I can tell, the home assistant source directories are all locked away somewhere that is not user accessible. I haven’t been able to find a way to use this on my hass os install.

[2022-04-03 18:03] briancmpbll commented on #78
I packaged this up as a HACS custom component for use with HASS OS: https://github.com/briancmpbll/home_assistant_custom_envoy

@newburns take a look at see if this will work for you.

[2022-04-12 05:59] peterwalkowiak commented on #78
This looks like it has been officially adopted now. HACS component stopped working and the official integration now works! Thank you all!

[2022-04-16 20:36] enkrypt3d commented on #78
Peterwalkowiak, Is there some documentation that shows this integration is
now merged with HA Core? Can't seem to find anything.

On Tue, Apr 12, 2022 at 1:59 AM peterwalkowiak ***@***.***>
wrote:

[2022-04-16 21:43] peterwalkowiak commented on #78
Something happened with my HA install and the custom showed up as the core for me. I deleted my comment because I realized I was wrong shortly after posting. Still crossing my fingers!

[2022-04-19 23:36] anthony4000 commented on #78
I have two Envoys. 1 running version 5.05 and another with version 7.3. This version (HACs) works great with v7.3. However, now I'm unable to use it with v5.05. Integration just says retrying setup. I'm using IP, (user)envoy, serial. If I remove HACs component and revert to core, v5.05 works with no issues.

Log:

Source: custom_components/enphase_envoy/envoy_reader.py:721
Integration: Enphase Env

[2022-04-21 03:03] newburns opened #92 "Batteries are reported, but how do I use it?"
## Description
*I am using the latest BETA release of the Envoy Reader and I am able to see battery information. How do I use this information in the Energy Dashboard?*

This is the results of my envoy states. I see the battery information there, but it is not selectable for input into the Energy dashboard for battery.
These results are taken at night.
## Environment
`
sensor.envoy_SERIAL_NUMBER_b

[2022-04-29 22:03] djk121 commented on #78
Is this going to get fixed? There are several PRs that fix the authentication errors reported in this issue, but they've been sitting there for ~months with no comment/response.

[2022-04-29 22:05] enkrypt3d commented on #78
https://github.com/briancmpbll/home_assistant_custom_envoy I ended up using
this and it has been working well for me.

On Fri, Apr 29, 2022, 6:03 PM djk121 ***@***.***> wrote:

[2022-04-29 22:09] djk121 commented on #78
:(

So is this abandoned? Is it worth sending a PR to the HA folks to switch away from this to that?

[2022-04-30 17:05] jesserizzo commented on #78
Hi all, sorry I've been pretty absent from this. Can anyone on firmwares other than 7.0.43 and 5.0.49 test this out to make sure it doesn't break anything?

[2022-05-02 04:05] sergeknystautas commented on #78
Hi! I spent the weekend walking through a different token issuing approach for 7.X firmware.  I just had my system installed a week ago and was pretty miffed that nothing was working with Home Assistant.

I took a very different approach than this PR takes.  First off, my enphase admin screen does not have a radio buttons for commissioned or uncommissioned, so I'm not sure how this would work.  My

[2022-05-02 04:08] enkrypt3d commented on #78
No need to reinvent the wheel. This has already been fixed in many
different integrations.

On Mon, May 2, 2022, 12:06 AM sergeknystautas ***@***.***>
wrote:

[2022-05-02 04:28] sergeknystautas commented on #78
https://github.com/briancmpbll/home_assistant_custom_envoy doesn't work for me.  I get the log message `Exception: Could not get 6 month token: You need to sign in first`. I'm not sure why it's giving an error at that point, but if I manually recreate the URL it's hitting, I get a token that expired 3 days ago.  AFAICT, this is ultimately relying on a working admin system to manually create a long

[2022-05-02 04:33] enkrypt3d commented on #78
You need to login with your enlighten account and tick the box to use
enlighten. And put in your site ID and serial number.

On Mon, May 2, 2022, 12:28 AM sergeknystautas ***@***.***>
wrote:

[2022-05-02 04:35] sergeknystautas commented on #78
The popup to configure the component shows the MAC address, asks for my username and password, a field for the serial number, and a checkbox to use enlighten.  I don't have a field for site ID, and not sure what that's used for.

[2022-05-02 04:43] sergeknystautas commented on #78
Tailing the logs revealed it, but I sorta gave it away... the component is asking me to configure the *MAC* address.  The logs are successfully getting the token, but then it's trying to make https calls to a MAC address and can't connect, so the auth flow is fine, it's just the way maybe zeroconf is identifying where to connect to Envoy.

[2022-05-02 04:45] enkrypt3d commented on #78
Why would it be trying to use the Mac address and not the ip? You need to
specify the local ip address.

On Mon, May 2, 2022, 12:43 AM sergeknystautas ***@***.***>
wrote:

[2022-05-02 04:49] sergeknystautas commented on #78
I believe HA is using zeroconf to discover devices and suggest integrations.  When I deleted that suggestion and manually adding the integration with the IP address, everything worked.  Well, several failures to connect for unknown reasons, but finally it worked so I'm calling it a win.

[2022-05-25 15:31] rct opened #94 "Time zone issue - Inverter last reported time"
## Description
Time zone isn't being set correctly on the last reported time for microinverters.  The last updated time shown in Home Assistant is always 4 hours ago. My current offset from UTC is -4 hours due to daylight savings time.

The datetime/ISO string as seen by Home Assistant stores is incorrect `2022-05-25 10:55:00+00:00`  The date/time in the string looks like it has the correct local

[2022-06-02 14:25] testuser7 commented on #46
Any news with this issue? Are you planning to add support for the `/production.json?details=1` endpoint?

[2022-06-03 14:50] enkrypt3d commented on #78
https://github.com/jesserizzo/envoy_reader/blob/8486ef1faea1b9b30b96972be491b6a9be436805/envoy_reader/envoy_reader.py

This is the get JWT token python script....

On Thu, Jun 2, 2022 at 10:42 PM efibc ***@***.***> wrote:

[2022-06-24 06:00] bmcclure commented on #78
Nothing here seems to be working for me. I can manually follow the token flow and get a token myself just fine, but trying to set up this integration ends up with "Exception: Could not get 6 month token: You need to sign in first" every time.

I've tried ignoring the zeroconf suggestion and setting it up manually but it still fails with the exact same error, so my issue might be different than @se

[2022-06-24 15:49] sergeknystautas commented on #78
Not that it's a great answer, but I simply removed and added back the installation multiple times, clicked around the envoy admin system (not sure if or what I did that changed anything), and then magically it worked.  As you say, you have to ignore the zeroconf suggestion to get the right error message.

Since then, whatever updated on Envoy's side, and now I've had it working soon after my earli

[2022-06-24 15:55] bmcclure commented on #78
So far I can't reproduce your results. I've clicked around the Envoy admin side, restarted HA several times, and tried to add the integration at least 30 times at this point. The error is 100% consistent so I don't think it's a matter of trying until it works, but I could be wrong.

[2022-06-24 15:59] enkrypt3d commented on #78
I switched mine to this HACS repo and it has been working great ofr me....

On Fri, Jun 24, 2022 at 11:55 AM Ben McClure ***@***.***>
wrote:

[2022-06-24 15:59] enkrypt3d commented on #78
https://github.com/briancmpbll/home_assistant_custom_envoy clicked send
without the link! Sorry

On Fri, Jun 24, 2022 at 11:59 AM Corey J ***@***.***> wrote:

[2022-07-02 04:33] sambeetm commented on #78
Keep getting following error. I am using my enlighten account User/Password, check box 'Use Enlighten'. Any suggestion ??

[code]

[2022-07-02 14:04] bmcclure commented on #78
That's the same error I get now! For some people if they just keep retrying it apparently eventually works, but not for me.

[2022-07-02 14:06] enkrypt3d commented on #78
Try deleting the integration and re-add

On Sat, Jul 2, 2022, 10:04 AM Ben McClure ***@***.***> wrote:

[2022-07-02 14:37] sambeetm commented on #78
A month back after few tries, it had worked. It stopped reporting yesterday. So far I have tried atleast 30 times without any success. Removed the integration and re-downloaded twice. No success..

[2022-07-02 17:44] sergeknystautas commented on #78
To clarify or emphasize the above point, I was both reinstalling the integration and clicking around the Envoy admin system.  I would guess if you redownloaded/reinstalled many times, what triggered it working for me was something I clicked in the admin system.

I'm not sure how much patience you have for this, but you're in a great spot with an account that hasn't enabled that feature, so you cou

[2022-07-27 13:49] jrutski commented on #72
Interestingly, my /ivp/ensemble/inventory does not show real_power_w for my encharges.

`            {
                "part_num": "836-00750-r25",
                "installed": 1658765836,
                "serial_num": "492203003343",
                "device_status": [
                    "envoy.global.ok",
                    "prop.done"
                ],
                "last_rpt_date": 1658929

[2022-09-27 13:39] colinleroy commented on #78
Hi @jesserizzo,
I took the liberty of asking them to at least provide a token retrieval API instead of forcing you and other open-source developers to screenscrape *and then maintain the screenscraper each time they change their frontend*.
Hope this helps
Colin

[2022-10-11 08:54] enkrypt3d commented on #78
Abandoned? It has been updated and working fine for me. I only switched to
the custom component as it has battery support. what issue are you having
exactly?

See my post above to download this integration......

cd /usr/src/homeassistant/homeassistant/components/enphase_envoy/

This is the path in my docker container. yours may be a little different.
be sure to empty that folder out and ensure u

[2022-10-17 08:07] roens commented on #78
FWIW, it's nice there's a workaround for this problem. But it doesn't help those of us running HA in Docker. I have paid for and await the delivery of a [Home Assistant Yellow with PoE](https://www.crowdsupply.com/nabu-casa/home-assistant-yellow). Until I receive that, I'm running HA in Docker on a server.

[2022-10-17 14:49] michaelgaultjr commented on #78
I'm running HA Docker and I've been using this [HACS repository](https://github.com/briancmpbll/home_assistant_custom_envoy) and it's been working perfectly, from my understanding it's using or at least based on the integration by gtdiehl

[2022-11-28 19:59] roens commented on #78
I must be missing something. On hearing it had worked for you, I tried adding the [home_assistant_custom_envoy](https://github.com/briancmpbll/home_assistant_custom_envoy) repo as a custom integration repo via HACS. And while it does offer some additional fields when I attempt to "Add integration", it also fails to add with an "Unexpected error".